#formConnexion, #formCreationCompte, #formMotPasseOublie {
    text-align: center;
    border: 1px solid black;
    margin: 30px auto;
    padding: 20px;
    width: 450px;
}

#divCreationCompte, #divMotPasseOublie {
    display: none;
}


#courrielCnx, #motPasseCnx, #txtPrenomNouv, #txtNomNouv,
#txtCourrielNouv, #txtMotPasseNouv, #txtMotPasseNouvConf, #txtAdresse,
#txtVille, #txtPays, #txtCodePostal, #txtCourrielMotPasseOublie {
    width: 320px;
    padding: 5px;
}